* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */
a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #f0c14b;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #f0c14b;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

header {
  width: 100%;
  height: 70px;
  background-color: #00bfff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-image {
  border: 1px solid white;
  line-height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

nav ul li {
  margin-left: 10px;
  list-style-type: none;
  font-size: 16px;
}

.nav-list {
  width: 120px;
  /* line-height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}


/* メインビジュアル */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/22-07-11_087.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment:fixed;
}

.main-visual-title {
  font-size: 48px;
  color: #FAFAFA;
  text-align: center;
  padding-top: 200px;
}

.main-visual-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}


/* ギャラリー */
#gallary {
  width: 100%;
  background-color: #ECEFF1;
}

.heading {
  font-size: 32px;
  color: #000;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
  position: relative;
}

.box-heading::after {
  content: "";
  position: absolute;
  bottom: 8px; /* 線の位置を微調整 */
  left: 50%; /* 線の中央寄せ */
  transform: translateX(-50%); /* 線の中央寄せ */
  width: 70px; /* 線の長さ */
  height: 3px; /* 線の高さ */
  background-color: #ec715f; /* 線の色 */
  border-radius: 5px; /* 線の両端を丸く */
}

.heading-text {
  text-align: center;
  padding: 30px 0px;
}

.gallary-visual {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 90px;
}

.gallary1 {
  background-image: url(img/21-12-10_128.jpg);
  background-size: contain;
}

.gallary2 {
  background-image: url(img/22-07-11_154.jpg);
  background-size: contain;
}

.gallary3 {
  background-image: url(img/22-07-11_097.jpg);
  background-size: contain;
}

.gallary4 {
  background-image: url(img/22-12-01_347.jpg);
  background-size: contain;
}

.gallary5 {
  background-image: url(img/22-12-01_419.jpg);
  background-size: contain;
}

.gallary6 {
  background-image: url(img/22-12-01_557.jpg);
  background-size: contain;
}

.gallary-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* 行間の調整（任意） */
}

.gallary-row > div {
  width: 300px; /* 写真の幅 */
  height: 200px; /* 写真の高さ */
  margin: 5px; /* 写真の間隔（任意） */
}

/* future */
.point-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

.point-box .size {
  font-size: 60px;
}

.first-point {
  margin-right: 10px;
  text-align: center;
}

.second-point {
  margin-right: 10px;
  text-align: center;
}

.third-point {
  text-align: center;
}

.point-title {
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
}

/* プロフィール */
#profile {
  width: 100%;
  background-color: #ECEFF1;
}

.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content {
  width: 50%;
}

.our-faces {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/22-12-01_378.jpg);
  background-size: cover;
  background-position: center;
}

.right-content {
  width: 50%;
}

.profile-name {
  margin: 20px 0 5px 0;
  font-size: 20px;
}

.profile-text {
  font-size: 16px;
}

/* コンタクト */
.contact-group {
  text-align: center;
}

.contact-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.sns-link {
  color: black;
  font-size: 50px;
  margin-right: 40px;
}

.sns-link:nth-of-type(5) {
  margin-right: 0;
}


footer {
  width: 100%;
  height: 60px;
  background-color: #00bfff;
}

.footer-text {
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}

/* スクロールボタン */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #00bfff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 9999;
}

.scroll-top-btn:hover {
  opacity: 0.7;
}




/* レスポンシブ対応 */
@media screen and (max-width: 768px) {

header {
  height: 50px;
}

.main-visual-title {
  font-size: 36px;
}

.main-visual-text {
  font-size: 12px;
}

.container {
  width: 90%;
}

/* メイン */


.gallary-visual {
  width: 300px;
}

.gallary-row {
  flex-direction: column;
  align-items: center;
}


/* future */
.point-box {
  flex-flow: column wrap;
}


/* profile */

.profile-group {
  flex-flow: row wrap;
  text-align: center;
}

.left-content {
  width: 100%;
}

.right-content {
  width: 100%;
}


#hm-icon {
  position: fixed;
  right: 20px;
  top: 3px;
  z-index: 10;
}
#hm-icon span {
  background-color: #fff;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #00bfff;
  color: #fff;
  width: 100%;
  min-height: 60px;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
}

@media screen and (min-width: 768px) {
  /* ヘッダーのスタイルを指定 */
  header {
    display: flex;
  }
}